body {
    background: #202124;
    margin: 0;
}

.nav {
    width: 100%;
    height: 50px;
}

.nav a {
    float: right;
    padding-left: 5px;
    font: 14px/29px Roboto, Arial, sans-serif;
    color: white;
    height: 48px;
    margin: 5px;
    text-decoration: none;

}
/* Navigasyon Menü Özellikleri  */
.nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Profil Resmi */
.nav .avatar {
    float: right;
    border-radius: 50%;
    padding: 5px;
}

.nav .material-symbols-sharp:hover {
    background-color: #515151;
    border-radius: 50%;
}
/* Profil Resmi Özelliği */
.nav .avatar:hover {
    background-color: #515151;
    border-radius: 50%;
}

.container {
    width: 1000px;
    height: 780px;
    margin: 0 auto;
}

.container .logo .go-logo {
    margin-left: 35%;
    position: relative;
    padding-top: 198px;
}
/* Search Butonu */
.container .search .arama {
    width: 480px;
    height: 40px;
    border-radius: 15px;
    margin-left: 245px;
    border-style: hidden;
    border: 1px solid #5f6368;
    background-color: #202124;
}



.container .search .search-img {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 260px;
    position: relative;
    margin-bottom: -34px;
}

.container .voice .voice-img {

    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    position: relative;
    margin-right: 280px;
    margin-top: -30px;
}

.container .buttons {
    padding-top: 21px;
    margin: 0 auto;
    width: 360px;
}

.container .buttons .buton {
    color: #e8eaed;
    background-color: #303134;
    border: 1px solid;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer {
    width: 100%;
    height: 91px;
    background: #171717;
    color: #9aa0a6;
}

.footer .top {
    width: 100%;
    border-bottom: 1px solid;
  
}

.footer .bottom{
    width: 100%;
padding-top: 15px;
}

.footer .top p{
    font-size: 15px;
    font-family: arial, sans-serif;
    padding: 15px;
    margin: 0;
}

.footer a {
    color: #999da2;
    text-decoration: none;
    padding-right: 15px;
}

.footer .footer-left {
    float: left;
    width: 33.3%;
}

.footer .footer-center {
    float: left;
    width:  33.3%;
    text-align: center;
}

.footer .footer-right {
    float: left;
    width:  33.3%;
}

.footer .footer-right a {
   float: right;
}